/*@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');


@font-face {
    font-family: 'Source Serif Pro';
    src: url('/assets/source-serif-pro/SourceSerifPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/assets/source-serif-pro/SourceSerifPro-Regular.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Radio Canada Big';
    src: url('/assets/source-serif-pro/ttf/radio-canada-big-latin-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Radio Canada Big';
    src: url('/assets/source-serif-pro/ttf/radio-canada-big-latin-500-normal.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.home_page {
    display: flex;
    flex-direction: column;
    position: relative;
}

.gradient_bgk_div {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.gradient_bgk_img {
    width: 100%;
    height: 810px;
}

.home_widgets {
    position: absolute;
    width: 100%;
}


/* Header */
.navigation {
    display: flex;
    width: 100%;
    position: fixed;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.nav_items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav_a {
    font-family: "Radio Canada Big: Medium", sans-serif;
    font-variation-settings: normal;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.nav_arrow_svg {}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-top: 80px;*/
    padding: 140px 20px 0px;
    gap: 56px;
}

.intro_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.intro_header_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.intro_section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.intro_header h1 {
    /*font-family: "Source Serif 4", serif;*/
    font-family: "Source Serif Pro", serif;
    white-space: pre-wrap;
    /*font-style: normal;*/
    font-size: 80px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.04em;
    margin: 0;
}

.intro_header h2 {
    font-family: "Radio Canada Big";
    font-style: normal;
    font-size: 80px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.05em;
    margin: 0;
}

.intro_text {
    font-family: "Source Serif Pro", serif;
    line-height: 1.2;
    letter-spacing: -0.04px;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    margin: 0px 0px 8px;
}

.intro_btns {
    display: flex;
    gap: 16px;
    font-family: "Geist Mono", monospace;
    justify-content: center;
}

.intro_btns button {
    display: flex;
    background-color: black;
    color: white;
    border: none;
    padding: 9px 16px;
}

.intro_btns button img {
    margin-right: 10px;
}

.intro_btns button p {
    letter-spacing: 0;
    line-height: 0;
    font-size: 14px;
    font-weight: 500;
    font-variation-settings: normal;
}


/* Features section */

.features_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 120px 20px;
}

.features_header {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 1;
    width: 612px;
    margin: 0;

}

.features_content {
    display: flex;
    gap: 40px;
}

.features_right_list ul li {
    list-style: none;
}

.features_right_list_btn {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;
    width: 767px;
    height: 502px;
}

.features_right_list ul {
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

.feat_ul_li1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feat_ul_border {
    border-style: solid;
    border-color: rgb(219, 224, 236);
    border-width: 1px 0px 0px;
}

.feat_ul_h2 {
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    letter-spacing: -0.02em;
}

.feat_ul_count {
    font-family: "Geist Mono: Regular", monospace;
    font-size: 14px;
    color: #6C6C6C;
}

.feat_ul_li_p {
    font-family: "Source Serif Pro", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.04em;
}

/* Values section */

.values_section {
    position: relative;
    height: 694px;
    width: 100%;
}

.values_sec_bgk {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.values_content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 120px 20px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}

.values_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.val_sec_h2_1 {
    font-family: "Source Serif Pro", sans-serif;
    line-height: 1;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 0;
}

.val_sec_h2_2 {
    font-family: "Radio Canada Big";
    font-size: 80px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin: 0;
}

.values_modules {
    display: flex;
    flex-direction: row;
    gap: 16px;
    max-width: 1500px;
}

.values_module {
    /*width: 402px;*/
    background-color: white;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 0 0px;
}

.value_module_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.value_module_img {
    width: 42px;
    height: 42px;
}

.value_module_content h2 {
    font-family: "Radio Canada Big";
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin: 0;
}

.value_module_content p {
    font-family: "Source Serif Pro", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    margin: 0;
}

/* Case study section */

.case_study_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 150px;
}

.case_study_content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.case_study_module {
    height: 320px;
    width: 980px;
    border-radius: 20px;
    background-color: #F6F8FB;
    display: flex;
    padding: 20px;
    gap: 40px;
    flex-direction: row;
}

.case_study_content_text_header {
    font-family: "Radio Canada Big";
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.case_study_content_text_p {
    font-family: "Source Serif Pro", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.04em;
}