/*@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');


@font-face {
    font-family: 'Source Serif Pro';
    src: url('/assets/source-serif-pro/SourceSerifPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/assets/source-serif-pro/SourceSerifPro-Regular.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Radio Canada Big';
    src: url('/assets/source-serif-pro/ttf/radio-canada-big-latin-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Radio Canada Big';
    src: url('/assets/source-serif-pro/ttf/radio-canada-big-latin-500-normal.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.home_page {
    display: flex;
    flex-direction: column;
    position: relative;
}

.gradient_bgk_div {
    /*position: absolute;*/
    width: 100%;
    z-index: 0;
    height: 815px;
}

.gradient_bgk_img {
    width: 100%;
    height: 815px;
    object-fit: cover;
}

.home_widgets {
    position: absolute;
    width: 100%;
}


/* Header */

#checkbox {
    display: none;
}

.logo label {
    display: none;
}

.navigation {
    display: flex;
    width: 100%;
    position: fixed;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    line-height: 0;
}

.nav_items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav_a {
    font-family: "Radio Canada Big", sans-serif;
    font-variation-settings: normal;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.nav_arrow_svg {
    height: 9px;
    width: 11.29px;
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-top: 80px;*/
    padding: 140px 20px 0px;
    gap: 56px;
}

.intro_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 8px;
}


.intro_header_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.intro_section {
    display: flex;
    flex-direction: column;
    gap: 32px;

}


.intro_header h1 {
    /*font-family: "Source Serif 4", serif;*/
    font-family: "Source Serif Pro", sans-serif;
    white-space: pre-wrap;
    /*font-style: normal;*/
    font-size: 80px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.04em;
    margin: 0;
}

.intro_header h2 {
    font-family: "Radio Canada Big";
    font-style: normal;
    font-size: 80px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.05em;
    margin: 0;
}

.intro_text {
    font-family: "Source Serif Pro", serif;
    line-height: 1.2;
    letter-spacing: -0.6px;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
}

.intro_btns {
    display: flex;
    gap: 16px;
    font-family: "Geist Mono", monospace;
    justify-content: center;
    align-items: center;
}

.intro_btns button {
    display: flex;
    background-color: black;
    color: white;
    border: none;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

.intro_btns button img {
    margin-right: 10px;
}

.intro_btns button p {
    letter-spacing: 0;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    font-variation-settings: normal;
    margin: 0;
}

.intro_hero_img_div {
    max-width: 960px;
    max-height: 608px;
}


/* Features section */

.features_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 120px 20px;
    /* max-width: 1500px;*/
}

.features_header {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1.2px;
    line-height: 1;
    max-width: 612px;
    margin: 0;
    text-align: center;
}

.features_content {
    display: flex;
    gap: 40px;
    max-width: 1500px;
    line-height: 0;
    width: 100%;
}

.features_left_img {
    width: 50%;
}

.features_left_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.features_right_list ul li {
    list-style: none;
    letter-spacing: -0.16px;
}

.feat_ul_li_div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px;
}

.features_right_list_btn {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;
    width: 50%;
    /* width: 767px;
    height: 502px;*/
}

.features_right_list ul {
    padding: 0px;
    margin: 0;
    flex-shrink: 0;
}

.feat_ul_li1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feat_ul_border {
    border-style: solid;
    border-color: rgb(219, 224, 236);
    border-width: 1px 0px 0px;
}

.feat_ul_h2 {
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    letter-spacing: -0.02em;
}

.feat_ul_count {
    font-family: "Geist Mono: Regular", monospace;
    font-size: 14px;
    color: #6C6C6C;
    margin: 0;
}

.feat_ul_li_p {
    font-family: "Source Serif Pro", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    /*letter-spacing: -0.04em;*/
    margin: 0;
}

/* Values section */

.values_section {
    background: url("/img/Values\ section.png");
    /*position: relative;*/
    height: 100%;
    width: 100%;
}

.values_sec_bgk {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.values_content {
    /*position: absolute;*/
    top: 0;
    width: 100%;
    height: 100%;
    padding: 120px 20px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}

.values_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 8px;
}

.val_sec_h2_1 {
    font-family: "Source Serif Pro", sans-serif;
    line-height: 1;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -0.04em;
    margin: 0;
}

.val_sec_h2_2 {
    font-family: "Radio Canada Big";
    font-size: 80px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin: 0;
}

.values_modules {
    display: flex;
    flex-direction: row;
    gap: 16px;
    max-width: 1500px;
}

.values_module {
    /*width: 402px;*/
    background-color: white;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 0 0px;
}

.value_module_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.value_module_img {
    width: 42px;
    height: 42px;
}

.value_module_content h2 {
    font-family: "Radio Canada Big";
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin: 0;
}

.value_module_content p {
    font-family: "Source Serif Pro", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    margin: 0;
}

/* Case study section */

.case_study_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 150px;
}

.case_study_content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    width: 50%;
}

.case_study_module {
    /*height: 320px;*/
    max-width: 980px;
    border-radius: 20px;
    background-color: #F6F8FB;
    display: flex;
    padding: 20px;
    gap: 40px;
    flex-direction: row;
}

/*.case_study_module_img_div {
    background: url("/img/case_study.svg");
}*/
.case_study_module_img_div {
    width: 50%;
}

.case_study_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.case_study_module img {
    flex: 1 0 0px;
}

.case_study_content_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.case_study_content_text_header {
    font-family: "Radio Canada Big";
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.3px;
    margin: 0;
}

.case_study_content_text_p {
    font-family: "Source Serif Pro", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    letter-spacing: -0.04em;
}

/* Blog section */

.blog_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.blog_sec_header {
    font-family: "Radio Canada Big";
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;
}

.article_body {
    max-width: 620px;
}

.journal_item {
    border-top: 1px solid #DBE0EC;
    /*width: 620px;*/
    padding: 24px 0px;
}

.journal_item_btn {
    border-top: 1px solid #DBE0EC;
    padding-top: 24px;
}

.journal_content {
    display: flex;
    gap: 16px;
}

.journal_content_role_details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.role_detail_header_p {
    font-family: "Radio Canada Big";
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    /*letter-spacing: -0.02em;*/
    margin: 0;

}

.role_detail_desc {
    display: flex;
    gap: 8px;
}

.role_detail_desc p {
    font-family: "Geist Mono";
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #6C6C6C;
    margin: 0;
}

/* Testimonial section */

.testimonial_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 20px;
}

.testimonial_content {
    display: flex;
    /*position: relative;*/
    gap: 16px;
    max-width: 1500px;
    flex: 1 0 0px;
}

.testimonial_img_div {
    /*position: relative;*/
    /*flex: 1 0 0px;*/
    display: block;
    width: 50%;
}

.testimonial_img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*flex: 1 0 0px;*/
}

.testimonial_quote {
    display: flex;
    /*flex: 1 0 0px;*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 105px;
    gap: 56px;
    width: 50%;
}

.testimonial_quote_text {
    font-family: "Radio Canada Big";
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;
}

.testimonial_quote_name_role {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /*width: 402px;*/
}

.testimonial_quote_name_role p {
    margin: 0;
}

.testimonial_quote_name {
    font-family: "Radio Canada Big";
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.testimonial_quote_role {
    font-family: "Source Serif Pro", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #6C6C6C;
}

/* Call to action section  */

.call_to_action_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 20px;
    background-color: #F6F8FB;
    gap: 32px;
}

.call_action_header {
    font-family: "Radio Canada Big";
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;
}

/* Footer section */

.footer_section {
    background-color: #FFF546;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_header {
    display: flex;
    justify-content: space-between;
    color: #66640F;
}

.footer_nav_items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer_nav_items a {
    font-family: "Radio Canada Big", sans-serif;
    font-variation-settings: normal;
    text-decoration: none;
    color: #66640F;
    font-size: 20px;
    font-weight: 400;
    /*line-height: 1;*/
    margin: 0;
    /*letter-spacing: -0.02em;*/
}

.footer_header_right {
    font-family: "Source Serif Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1.2;
    margin: 0;
}

.footer_img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
    mix-blend-mode: multiply;
}

.footer_logo_div {
    padding: 0;
    margin: 0;
    line-height: 0;
}

.footer_logo_img {
    width: 100%;
}

/*----------- Responsive -----------*/

/* Tablet */

@media(max-width:1279px) {
    .intro_header {
        padding: 0px 0px 4px;
    }

    .intro_header h1 {
        font-size: 64px;
        letter-spacing: -3.2px;
    }

    .intro_header h2 {
        font-size: 64px;
        letter-spacing: -4px;
    }

    .intro_hero_img {
        width: 760px;
    }

    .gradient_bgk_div {
        height: 762px;
    }

    .gradient_bgk_img {
        height: 762px;
    }

    /* Features section */


    .features_section {
        padding: 80px 20px;
    }

    .features_content {
        display: flex;
        gap: 40px;
        flex-direction: column;
        width: 100%;
    }

    .features_header {
        text-align: center;
        font-size: 32px;
    }

    .features_right_list_btn {
        width: 100%;
    }

    .features_left_img {
        width: 100%;
    }



    .features_left_img img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .features_right_list .intro_btns button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    /* Values section */

    .values_section {
        background: url("/img/values_section_bck_img.png");
    }

    .values_content {
        padding: 80px 20px;
    }

    .val_sec_h2_1 {
        font-size: 64px;
        letter-spacing: -3.2px;
    }

    .val_sec_h2_2 {
        font-size: 64px;
        letter-spacing: -4px;
    }


    .value_module_content {
        margin-bottom: 24px;
    }

    .values_modules {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 100%;
        width: 100%;
    }

    /* Case study */

    .case_study_section {
        padding: 80px 20px;
    }

    .case_study_img {
        /*width: 450px;
        height: 280px;*/
        object-fit: cover;
        border-radius: 8px;
    }


    /* Blog section */

    .blog_section {
        padding: 40px 20px 0px;
    }

    .blog_sec_header {
        font-size: 32px;
        letter-spacing: -1.2px;
    }


    /* Testimonial section */

    .testimonial_section {
        padding: 80px 20px;
    }

    .testimonial_quote_text {
        font-size: 32px;
        letter-spacing: -1.2px;
        font-weight: 400;
    }

    .testimonial_quote {
        padding: 0px 40px;
        gap: 40px;
    }

    .testimonial_img {
        width: 100%;
    }

    /* Call to action */

    .call_to_action_section {
        padding: 80px 20px;
    }

    .call_action_header {
        font-size: 32px;
        letter-spacing: -1.2px;
    }
}


/* Mobil */

@media screen and (max-width:800px) {

    /* Home page */

    /* Hamburger bar */

    .navigation {
        flex-direction: column;
        align-items: flex-start;
        /*background-color: white;*/
    }

    .navigation .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 0;
    }

    .navigation .logo label {
        display: block;
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;
    }

    .navigation .logo label::before {
        position: absolute;
        content: "";
        inset: 0;
        background: url("/img/menu_icon_plus.svg") center/contain no-repeat;
        top: 0;
        left: 0;
    }

    .nav_items {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0px;
        max-height: 0;
        overflow: hidden;
        transition: 0.25s;
    }

    .nav_a {
        padding: 24px 0px;
        font-size: 24px;
        justify-content: flex-start;
        /*letter-spacing: -0.1728px;*/
        width: 100%;
        line-height: 1;
        font-weight: 400;
        border-bottom: 1px solid #dbe0ec;
    }

    #get_started {
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
        padding: 16px;
        font-family: "Geist Mono", sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin-top: 24px;
    }

    .nav_arrow_svg {
        display: none;
    }

    #checkbox:checked~.nav_items {
        max-height: 500px;
    }

    #checkbox:checked~.logo label::before {
        background-image: url("https://need-spiny-01266573.figma.site/_assets/v11/d44c97942079b5dd185c1af8c302dd4512535acc.svg");
    }

    .intro {
        padding: 120px 20px 0px;
        gap: 32px;
    }

    .intro_section {
        /*margin-top: 80px;*/
        gap: 24px;
        max-width: 480px;
    }

    .intro_header_text {
        gap: 12px;
    }

    .intro_header h1 {
        font-size: 36px;
    }

    .intro_header h2 {
        font-size: 36px;
        letter-spacing: -4px;
    }

    .intro_text {
        letter-spacing: -0.8px;
        font-size: 18px;
    }

    .intro_section .intro_btns {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    /*.intro_hero_img_div {
        max-width: 445px;
    }*/

    .intro_hero_img {
        width: 100%;
    }

    .gradient_bgk_div {
        height: 564.11px;
    }

    .gradient_bgk_img {
        height: 100%;
    }

    /* Features section */
    .features_section {
        padding: 40px 20px;
        gap: 24px;
    }

    .features_header {
        font-size: 24px;
        letter-spacing: -1.2px;
    }

    .features_left_img {
        width: 100%;
    }

    .features_left_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .feat_ul_li_div {
        gap: 12px;
        padding: 20px 0px;
    }

    .feat_ul_h2 {
        font-size: 18px;
    }

    .feat_ul_li_p {
        font-size: 18px;
    }

    /* Values section */

    .values_content {
        padding: 40px 20px;
        gap: 32px;
    }

    .val_sec_h2_1 {
        font-size: 36px;
        letter-spacing: -3.2px;
    }

    .val_sec_h2_2 {
        font-size: 36px;
        letter-spacing: -4px;
    }

    .value_module_content {
        margin-bottom: 0;
    }

    /* Case section */

    .case_study_section {
        padding: 40px 20px;
    }

    .case_study_module {
        flex-direction: column;
        gap: 24px;
    }

    .case_study_module_img_div {
        width: 100%;
    }

    .case_study_content {
        width: 100%;
    }

    .case_study_content_text {
        gap: 12px;
    }

    .case_study_content_text_header {
        font-size: 18px;
        letter-spacing: -0.4px;
    }

    .case_study_content_text_p {
        font-size: 18px;
        letter-spacing: -0.8px;
    }

    .case_study_content .intro_btns {
        width: 100%;
    }

    .case_study_content .intro_btns button {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    /* Blog section */

    .blog_section {
        padding: 0px 20px;
        gap: 24px;
    }

    .blog_sec_header {
        font-size: 24px;
    }

    /* Journal section */

    .journal_content {
        flex-direction: column;
    }

    .role_detail_header_p {
        font-size: 18px;
    }

    .jornal_list .journal_item_btn button {
        width: 100%;
        justify-content: center;
    }

    .testimonial_section {
        padding: 40px 20px;
    }

    .testimonial_content {
        width: 100%;
        flex-direction: column;
        gap: 32px;
        padding: 0;
    }

    .testimonial_img_div {
        width: 100%;
    }

    .testimonial_quote {
        padding: 0;
        width: 100%;
        gap: 24px;
    }

    .testimonial_quote_text {
        font-size: 24px;
        letter-spacing: -1.2px;
    }

    .testimonial_quote_role {
        font-size: 18px;
    }

    /* Call to action */

    .call_to_action_section {
        padding: 40px 20px;
    }

    .call_action_header {
        text-align: center;
        font-size: 24px;
        letter-spacing: -1.2px;
    }

    .footer_section {
        padding: 40px 20px 20px;
        gap: 16px;
    }

    .footer_header {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .footer_nav_items {
        gap: 16px;
    }

    .footer_header .footer_nav_items .nav_a {
        font-size: 18px;
        border-bottom: none;
        padding: 0;
        width: fit-content;
    }

    .footer_header_right {
        font-size: 18px;
    }

    .footer_image_div {
        height: 120px;
        width: 100%;
    }

    .footer_img {
        height: 100%;
        width: 100%;
    }
}